html {
    background-color: #5d5d5d;
}
body {
    font-family: arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {margin-top: 0;}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.headline {
	text-shadow: 3px 3px 1px #2d2d2d;
    font-size: 100%;
    font-weight: bold;
	font-style: italic;
	font-family: verdana, sans-serif;
	margin-bottom: 0;
	margin-top: 10px;
	box-sizing: border-box;
	color: #FFF;
	text-transform: uppercase;
}
.first-letter {
	font-size: 140%;
}

/* MAIN COLUMN */

.main-area h2 {
    font-size: 165%;
    font-weight: normal;
}
.section {
    padding-left: 40px;
    padding-right: 40px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
@media screen and (min-width: 1300px) {
    body {
        font-size: 16px;
    }
    .container  {
        max-width: 1200px;
    }
}
@media screen and (max-width: 700px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
}
header {
    padding-top: 20px;
    color: #FFF;
    background-color: #4f5763;
}
header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
header p {
    font-size: 90%;
    margin: 0;
}

/* END MAIN COLUMN */

/* SITE NAVIGATION */

.site-nav {
    margin-top: 20px;
}
.site-nav ul {
    margin: 0;
    padding: 0;
}
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.site-nav a {
    display: block;
    color: #FFF;
    padding: 10px 20px;
    background-color: #454c57;
}
.site-nav a:hover {
    background-color: #FFF;
    color: #454c57;
}
@media screen and (max-width: 1020px) {
    .site-nav a {
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
        padding: 20px 30px;
    }
}
@media screen and (max-width: 700px) {
    .site-nav li {
        width: 50%;
        margin-right: 0;
    }
}
@media screen and (max-width: 480px) {
    .site-nav li {
        width: 100%;
        margin-right: 0;
    }
}

/* END SITE NAVIGATION */

/* CONTENT */

.content-area {
    background-color: #FFF;
    padding-bottom: 40px;
    padding-top: 40px;
}
@media screen and (max-width: 700px) {
    .content-area {
        padding-top: 20px;
    }
}
.sidebar {
    color: #999;
    font-size: 85%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar h3 {
    font-size: 138.5%;
    margin-bottom: 7px;
}
.sidebar a {
    color: black;
}
.sidebar li {
    margin-bottom: 7px;
}
@media screen and (max-width: 1020px) {
    .sidebar li {
        margin-bottom: 15px;
        font-size: 125%;
    }
}
@media screen and (max-width: 700px) {
    .hide-small {
        display: none;
    }
}
.box-a {
    opacity: 0; /* makes it start invisible */
    -webkit-animation: fadeBounce 1s forwards;
    animation-name: fadeBounce; /* assigns the below-programmed animation */
    animation-duration: 1s; /* time between 0% and 100% animation */
    animation-fill-mode: forwards; /* makes it so the object maintains the final state of the animation,
    in this case, 'opacity: 1;' */
    /* can be combined to 'animation: fadeBounce 1s forwards; */
    background-color: #ECECEC;
    padding: 20px 20px 0 20px;
    border: 2px solid #5d5d5d;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
}
.box-a a {
    color: #142444;
}
@media screen and (max-width: 700px) {
    .box-a {
        margin-bottom: 15px;
    }
}
.boxes :nth-child(2) .box-a { /*targets the second 'box-a' in the boxes div */
    animation-delay: .5s;
}
.boxes :nth-child(3) .box-a {
    animation-delay: 1s;
}
.boxes :nth-child(4) .box-a {
    animation-delay: 1.5s;
}
.star {
    -webkit-animation: slideSpin 2s infinite alternate forwards;
    animation: slideSpin 2s forwards;
    animation-iteration-count: infinite; /* this dictates how many times the animation plays */
    animation-direction: alternate; /* alternates the direction of the animation - back and forth */
    /* shorthand 'animation: slideSpin 2s infinite alternate forwards;' */
    width: 25%;
    height: auto;
    margin-top: 50px;
}

/* END CONTENT */

/* STAR ANIMATION */

@-webkit-keyframes slideSpin { /* -webkit- is for browser compatibility */
    50% {
        transform: translateX(150%) scale(.5);
    }
    75% {
        transform: translateX(150%) rotate(180deg) scale(.5);
    }
    100% {
        transform: translateX(300%) rotate(180deg);
    }
}
@keyframes slideSpin {
    50% {
        transform: translateX(150%) scale(.5);
    }
    75% {
        transform: translateX(150%) rotate(180deg) scale(.5);
    }
    100% {
        transform: translateX(300%) rotate(180deg);
    }
}

/* END STAR ANIMATION */

/* BOUNCE ANIMATION */

@-webkit-keyframes fadeBounce { /* fadeBounce is a name applied to the keyframe */
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    40% {
        transform: tranlateY(0);
    }
    55% {
        transform: translateY(-6px);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeBounce { /* fadeBounce is a name applied to the keyframe */
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    40% {
        transform: tranlateY(0);
    }
    55% {
        transform: translateY(-6px);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* END BOUNCE ANIMATION */

/* GRID */

.row {margin-right: -20px;}
.col {
    width: 100%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
    .row {
        margin-right: -40px;
    }
    .col {
        padding-right: 40px;
    }
    .col-sm-11 {width: 91.662%;}
    .col-sm-10 {width: 83.332%;}
    .col-sm-9 {width: 75%;}
    .col-sm-8 {width: 66.662%;}
    .col-sm-7 {width: 58.331%;}
    .col-sm-6 {width: 50%;}
    .col-sm-5 {width: 41.662%;}
    .col-sm-4 {width: 33.332%;}
    .col-sm-3 {width: 25%;}
    .col-sm-2 {width: 16.662%;}
    .col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
    .col-md-11 {width: 91.662%;}
    .col-md-10 {width: 83.332%;}
    .col-md-9 {width: 75%;}
    .col-md-8 {width: 66.662%;}
    .col-md-7 {width: 58.331%;}
    .col-md-6 {width: 50%;}
    .col-md-5 {width: 41.662%;}
    .col-md-4 {width: 33.332%;}
    .col-md-3 {width: 25%;}
    .col-md-2 {width: 16.662%;}
    .col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
    .col-lg-11 {width: 91.662%;}
    .col-lg-10 {width: 83.332%;}
    .col-lg-9 {width: 75%;}
    .col-lg-8 {width: 66.662%;}
    .col-lg-7 {width: 58.331%;}
    .col-lg-6 {width: 50%;}
    .col-lg-5 {width: 41.662%;}
    .col-lg-4 {width: 33.332%;}
    .col-lg-3 {width: 25%;}
    .col-lg-2 {width: 16.662%;}
    .col-lg-1 {width: 8.332%;}
}

@media screen and (max-width: 1023px) {
    .push-down-sm {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 767px) {
    .push-down-sm {
        margin-bottom: 15px;
    }
}

footer {
    text-align: center;
    font-size: 85%;
    color: #FFF;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* END GRID */

/* GROUP */

.row:before,
.row:after,
.group:before,
.group:after {
    content: "";
    display: table;
}
.row:after,
.group:after {
    clear: both;
}
.row,
.group {
    zoom: 1;
}

/* END GROUP */