html {
    background-color: #5d5d5d;
}
body {
    font-family: arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {margin-top: 0;}
img {
    max-width: 100%;
    max-height: auto;
}
a {
    text-decoration: none;
}
.headline {
	text-shadow: 3px 3px 1px #2d2d2d;
    font-size: 100%;
    font-weight: bold;
	font-style: italic;
	font-family: verdana, sans-serif;
	margin-bottom: 0;
	margin-top: 10px;
	box-sizing: border-box;
	color: #FFF;
	text-transform: uppercase;
}
.first-letter {
	font-size: 140%;
}

/* MAIN COLUMN */

.main-area h2 {
    font-size: 165%;
    font-weight: normal;
}
.section {
    padding-left: 40px;
    padding-right: 40px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
@media screen and (min-width: 1300px) {
    body {
        font-size: 16px;
    }
    .container  {
        max-width: 1200px;
    }
}
@media screen and (max-width: 700px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .headline {
        margin-right: 300px;
    }
}
header {
    padding-top: 20px;
    color: #FFF;
    background-color: #4f5763;
}
header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
header p {
    font-size: 90%;
    margin: 0;
}

/* END MAIN COLUMN */

/* HIDE/SHOW BUTTON */

.toggle-btn {
	display: none;
}
@media screen and (max-width: 700px) {
    .toggle-btn-visible {
        display: block;
	}
	.menu-btn {
		margin-top: 10px;
		margin-bottom: 0;
		background-color: #4f5763;
		color: #FFF;
		font-size: 150%;
		padding: 5px 10px;
	}
    .toggle-target-hidden {
        display: none;
    }
    .toggle-target-expanded {
        display: block;
    }
}
.main-text-body .toggle-btn-visible {
    display: block;
}
.main-text-body .toggle-target-hidden {
    display: none;
}
.main-text-body .toggle-target-expanded {
    display: block;
}
.read-more {
    text-decoration: underline;
    color: blue;
}
.read-more:hover {
    text-decoration: none;
}

/* END HIDE/SHOW BUTTON */

/* SITE NAVIGATION */

.site-nav {
    margin-top: 20px;
}
.site-nav ul {
    margin: 0;
    padding: 0;
}
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.site-nav a {
    display: block;
    color: #FFF;
    padding: 10px 20px;
    background-color: #454c57;
}
.site-nav a:hover {
    background-color: #FFF;
    color: #454c57;
}
@media screen and (max-width: 1020px) {
    .site-nav a {
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
        padding: 20px 30px;
    }
}
@media screen and (max-width: 700px) {
    .site-nav li {
        width: 50%;
        margin-right: 0;
    }
}
@media screen and (max-width: 480px) {
    .site-nav li {
        width: 100%;
        margin-right: 0;
    }
}

/* END SITE NAVIGATION */

/* THUMBNAIL STYLES */

.thumbnails {
    margin-right: -15px; /* this counters the last pic on the right's padding */
}
.thumbnails a {
    float: left;
    width: 25%;
    padding-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    max-height: 150px;
    overflow: hidden;
}
@media screen and (max-width: 700px) {
    .thumbnails a {
        width: 50%;
    }
}
.thumbnails img {
    display: block; /* this gets rid of default page formatting for these images */
    transition: all .2s ease-in-out;
}
.thumbnails:hover img {
    opacity: .6;
    transform: scale(.92);
}
.thumbnails img:hover {
    opacity: 1;
    transform: scale(1) rotate(2deg);
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

/* END THUMBNAIL STYLES */

/* CONTENT */

.content-area {
    background-color: #FFF;
    padding-bottom: 40px;
    padding-top: 40px;
}
@media screen and (max-width: 700px) {
    .content-area {
        padding-top: 20px;
    }
}
.sidebar {
    color: #999;
    font-size: 85%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar h3 {
    font-size: 138.5%;
    margin-bottom: 7px;
}
.sidebar a {
    color: black;
}
.sidebar li {
    margin-bottom: 7px;
}
@media screen and (max-width: 1020px) {
    .sidebar li {
        margin-bottom: 15px;
        font-size: 125%;
    }
}
@media screen and (max-width: 700px) {
    .hide-small {
        display: none;
    }
}
.box-a { 
    margin-bottom: 30px;
}
.box-a a{
    color: #142444;
}
@media screen and (max-width: 700px) {
    .box-a {
        margin-bottom: 15px;
    }
}
.comic-gal img {
    display: block;
    transition-property: all;
    transition-duration: 1s;
}
.comic-gal:hover img {
    transform: scale(1.5);
}
.comic-gal {
    position: relative;
    overflow: hidden;
    max-width: 600px;
}
.image-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: rgba(0, 0, 0, .65);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(100%);
}
.comic-gal:hover .image-caption {
    transform: translateY(0);
}

/* END CONTENT */

/* GRID */

.row {margin-right: -20px;}
.col {
    width: 100%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
    .row {
        margin-right: -40px;
    }
    .col {
        padding-right: 40px;
    }
    .col-sm-11 {width: 91.662%;}
    .col-sm-10 {width: 83.332%;}
    .col-sm-9 {width: 75%;}
    .col-sm-8 {width: 66.662%;}
    .col-sm-7 {width: 58.331%;}
    .col-sm-6 {width: 50%;}
    .col-sm-5 {width: 41.662%;}
    .col-sm-4 {width: 33.332%;}
    .col-sm-3 {width: 25%;}
    .col-sm-2 {width: 16.662%;}
    .col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
    .col-md-11 {width: 91.662%;}
    .col-md-10 {width: 83.332%;}
    .col-md-9 {width: 75%;}
    .col-md-8 {width: 66.662%;}
    .col-md-7 {width: 58.331%;}
    .col-md-6 {width: 50%;}
    .col-md-5 {width: 41.662%;}
    .col-md-4 {width: 33.332%;}
    .col-md-3 {width: 25%;}
    .col-md-2 {width: 16.662%;}
    .col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
    .col-lg-11 {width: 91.662%;}
    .col-lg-10 {width: 83.332%;}
    .col-lg-9 {width: 75%;}
    .col-lg-8 {width: 66.662%;}
    .col-lg-7 {width: 58.331%;}
    .col-lg-6 {width: 50%;}
    .col-lg-5 {width: 41.662%;}
    .col-lg-4 {width: 33.332%;}
    .col-lg-3 {width: 25%;}
    .col-lg-2 {width: 16.662%;}
    .col-lg-1 {width: 8.332%;}
}

@media screen and (max-width: 1023px) {
    .push-down-sm {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 767px) {
    .push-down-sm {
        margin-bottom: 15px;
    }
}

footer {
    text-align: center;
    font-size: 85%;
    color: #FFF;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* END GRID */

/* GROUP */

.row:before,
.row:after,
.group:before,
.group:after {
    content: "";
    display: table;
}
.row:after,
.group:after {
    clear: both;
}
.row,
.group {
    zoom: 1;
}

/* END GROUP */