/* Main Style */

html {
	background-color: #4f5763;
	font-family: arial, sans-serif;
	font-size: 105%;
}

.container {
	background-color: #FFF;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}
@media screen and (max-width: 480px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 1300px) {
	.container {
		max-width: 1200px;
	}
	html {
		font-size: 120%;
	}
}

.main-area {
	float: left;
	width: 65%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-area p {
	text-align: justify;
	text-indent: 20px;
}
.contentArea {
	margin-top: 0;
}

.sidebar {
	float: right;
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
}
@media screen and (max-width: 1020px) {
	.main-area,
	.sidebar {
		width: auto;
		float: none;
	}
}
.headline {
	text-shadow: 3px 3px 1px #4f5763;
	font-size: 200%;
	font-style: italic;
	font-family: verdana, sans-serif;
	margin-bottom: 0;
	margin-top: 10px;
	padding-right: 40px;
	box-sizing: border-box;
	color: #FFF;
	text-transform: uppercase;
}
.headline span {
	font-size: 140%;
}
footer {
	font-size: 85%;
	font-style: italic;
	color: #999;
}
.main-foot {
	text-align: center;
	margin-top: 15px;
}

/* END MAIN STYLE */

/* HIDE/SHOW BUTTON */

.toggle-btn {
	display: none;
}
@media screen and (max-width: 700px) {
    .toggle-btn-visible {
        display: block;
	}
	.menu-btn {
		margin-top: 10px;
		margin-bottom: 0;
		background-color: #4f5763;
		color: #FFF;
		font-size: 150%;
		padding: 5px 10px;
	}
    .toggle-target-hidden {
        display: none;
    }
    .toggle-target-expanded {
        display: block;
    }
}
.main-text-body .toggle-btn-visible {
    display: block;
}
.main-text-body .toggle-target-hidden {
    display: none;
}
.main-text-body .toggle-target-expanded {
    display: block;
}
.read-more {
    text-decoration: underline;
    color: blue;
}
.read-more:hover {
    text-decoration: none;
}

/* END HIDE/SHOW BUTTON */

/* SITE NAVIGATION */

.site-nav {
	margin-right: 10px;
	margin-top: 10px;
	width: 100%;
	background-color: #4f5763;
	font-size: 95%;
}
.nav-buttons {
	margin: 0;
	padding: 0;
}
.site-nav li {
	list-style: none;
	float: left;
	margin-right: 3px;
}
.site-nav a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 6px 8px;
	
}
.site-nav a:hover {
	background-color: #FFF;
	color: #4f5763;
}
@media screen and (max-width: 700px) {
	.main-area {
		padding-right: 0;
	}
	.site-nav {
		background-color: #FFF;
	}
	.site-nav li {
		width: 33.32%;
		margin-right: 0;
	}
	.site-nav a {
		border: none;
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
		font-size: 150%;
		background-color: #4f5763;
	}
	.site-nav a:hover {
		border: none;
	}
}
@media screen and (max-width: 520px) {
	.site-nav li {
		width: 50%;
	}
}

/* END SITE NAVIGATION */

/* MAIN CONTENT */

.blog-entry img {
	width: 100%;
	height: auto;
}
.blog-entry h2 {
	font-size: 150%;
	font-style: italic;
	font-weight: normal;
}
.blog-foot {
	margin-top: 0;
}

/* END MAIN CONTENT */

/* SIDEBAR */

.media-controls {
	width: 200px;
	margin-top: 10px;
}
.music {
	background-color: #ECECEC;
	padding: 20px 33px;
	box-sizing: border-box;
	margin-top: 10px;
}
.video {
	background-color: #ECECEC;
	padding: 20px 33px;
	box-sizing: border-box;
	margin-top: 10px;
}
.selector {
	background-color: #ECECEC;
	padding: 20px 33px;
	box-sizing: border-box;
	margin-top: 10px;
}
.selector select {
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin-top: 10px;
	height: 30px;
	border: 1px solid #4f5763;
	outline: none;
}
.sidebar p {
	margin: 0;
}
.video p,
.music p {
	margin-bottom: 5px;
}
.sidebar h2 {
	margin-bottom: 5px;
	margin-top: 5px;
}
.av-gal {
	margin-top: 10px;
	box-sizing: border-box;
}
.comic-gal {
	margin-top: 10px;
	box-sizing: border-box;
}
img {
	display: block;
}
.av-gal,
.comic-gal {
	position: relative;
	display: block;
	overflow: hidden;
}
.image-caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: rgba(0, 0, 0, .65);
	padding: 15px 0;
	text-align: center;
}

/* END SIDEBAR */

/* MOBILE OPT */



/* END MOBILE OPT */

/* Float Fix */
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
/* End Float Fix */